<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tiramisu.account">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".signin.AccountActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode">
        </activity>
    </application>
</manifest>
